{{- $email := promptStringOnce . "git_email" "Git email address" -}}
{{- $bw_id_rlesniak := promptStringOnce . "bw_id_rlesniak" "Bitwarden item ID for id_rlesniak" "7c73d4ef-ca3b-441a-bf7c-b3fb012c5298" -}}
{{- $bw_id_rsa_akiro := promptStringOnce . "bw_id_rsa_akiro" "Bitwarden item ID for id_rsa_akiro" "f3ca7f20-fc94-4ea0-be80-b3fb012ca9a6" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  git_email = {{ $email | quote }}
  bw_id_rlesniak = {{ $bw_id_rlesniak | quote }}
  bw_id_rsa_akiro = {{ $bw_id_rsa_akiro | quote }}
