{{- if (output "bw" "status" | fromJson).status | eq "unlocked" -}}

[".ssh/id_ed25519"]
    type = "file"
    permissions = 0600
    [".ssh/id_ed25519".contents]
        command = "bw"
        args = ["get", "notes", "{{ .bw_id_ed25519 }}"]

[".ssh/id_rsa_akiro"]
    type = "file"
    permissions = 0600
    [".ssh/id_rsa_akiro".contents]
        command = "bw"
        args = ["get", "notes", "{{ .bw_id_rsa_akiro }}"]

{{- end -}}
